/*Hauptseite*/
body {
    background-color: whitesmoke;
    overflow-y: scroll;
}

.inner{
    position: relative;
}

.me{
    position: relative;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.anschreiben {
    background-color: deepskyblue;
}

#welcome {
    font-family: "Fredericka the Great", "Perpetua Titling MT", serif;
    color: white;
    font-size: 25px;
    text-shadow: 10px 8px 10px #0f0f0f;
    padding-bottom: 20px;
    margin-top: 60px;
}

.haupttext {
    font-family: Perpetua, serif;
    color: white;
    font-size: 22px;
}

.table {
    color: white;
    font-size: 18px;
}

#h2lebenslauf, #h2faehigkeiten, #h2portfolio {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Fredericka the Great", "Perpetua Titling MT", serif;
    text-shadow: 10px 8px 20px #0f0f0f;
}

.faehigkeiten{
    background: url("../img/clouds.jpg ") no-repeat center center; background-size: cover;
    color: white;
    padding-bottom: 50px;
}

.portfolio {
    padding-bottom: 50px;
}

.thumbnail img{
    margin-top: 20px;
}

.thumbnail h3,p{
    margin-left: 20px;
}

/*Kontakt & Impressum*/
.backdiv{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: #2e6da4;
}

.backdiv2{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: mistyrose;
}

.fill {
    position: relative;
    height: 100vh;
}

.kontaktBild {
    height: 170px;
    background-image: url("../img/petals.jpg");
    width: 100%;
    margin-bottom: 50px;
}

.kontaktText, .impressumText {
    padding-left: 50px;
}

#kontakt {
    color: deepskyblue;
}

.impressum, .kontakt {
    padding-top: 50px;
    background-color: white;
    width: 100%;
    height: 100%;
    display: block;
}

.impressumBild {
    height: 170px;
    background-image: url("../img/dawn.jpg");
    width: 100%;
    margin-bottom: 50px;
}

/*Footer*/
.footerouter{
    position: absolute;
    bottom:0px;
    width: 100%;
}

.footer {
    position: relative;
    background-color: lightgrey;
    width: 100%;
    height: auto;
}

.footerinner{
    display: table-cell;
    vertical-align: middle;
    background-color: lightgrey;
    height: 40px;
}

.footer a {
    color: gray;
    text-decoration: none;
    padding-right:25px;
    padding-left:25px;
}